<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/stomp_helper.js"></script>
    <script type="text/javascript" src="/js/advanced_polling.js"></script>
    <script type="text/javascript" src="/js/ejs.min.js"></script>
</head>
<body>
<div class="DATA_lines"><%- lines %></div>
</body>
</html>